*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito' sans-serif;
    text-decoration: none;
    }

    body{
        font-family: 'Merianda One' cursive;
        background-image: url("lib/cool\ 2.jpg");
        background-repeat: no no-repeat;
        background-size:cover;
        height: 100%;
    
     }



#foot{
  /* background-color: rgb(59, 31, 31); */
    padding: 40px;
    /* border-top: 2px solid; */
}

#foot h2, p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

#foot h1{
    color: black;
    font-size: 3rem;
    text-align: center;
}

ul li a{
    text-decoration:aqua;
     margin-left: 700px; 
     
    border-radius: 2px;
    /* color: black; */
    padding: 20px;
    font-size: 1.5rem;
   }

   ul li a:hover{
    color: rgb(77, 12, 23);
   }